@model IEnumerable<RecipePuppy.Models.Favorite>
@{ 

    if (Model.ToList().Count > 0)
    {
        <h2>FavoriteList</h2>
        @Session["Success"]
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@item.Thumbnail" class="recipeImage"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <form action="~/Home/DeleteFav">
                        <input name="id" value="@item.Id" class="hiddenElement" />
                        <input type="submit" value="Delete Favorite" />
                    </form>
                </td>
            </tr>
        }

        </table>
    }
    else
    {
        <h1>No favorites yet!</h1>
    }
}