@model IEnumerable<RecipePuppy.Models.Favorite>
@using RecipePuppy.Models
@{ 
    List<Favorite> favorites = Model.ToList();
    if (Model.ToList().Count > 0)
    {
        <h2>FavoriteList</h2>
        <p class="sucess">@Session["Success"]</p>
        @*<table class="table">
            <tr>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <th>
                </th>
                <th></th>
            </tr>*@
    <div class="flexContainer">
        @for (int i = 0; i < favorites.Count; i++)
        {
            string box = "box" + i.ToString();
            <div class="box" id="@box">
                <div class="flex title">
                    @Html.DisplayFor(modelItem => favorites[i].Title)
                </div>
                <div class="flex image">
                    <img src="@favorites[i].Image" class="recipeImage" />
                </div>
                <div class="flex ingredients">
                    @Html.DisplayFor(modelItem => favorites[i].Ingredients)
                </div>
                <div class="flex favorite">
                    <form action="~/Home/DeleteFav">
                        <input name="id" value="@favorites[i].Id" class="hiddenElement" />
                        <input type="submit" class="flexButton del" value="Delete" />
                    </form>
                </div>

            </div>
                }
    </div>
            @*@foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="@item.Thumbnail" class="recipeImage" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredients)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <form action="~/Home/DeleteFav">
                            <input name="id" value="@item.Id" class="hiddenElement" />
                            <input type="submit" value="Delete Favorite" />
                        </form>
                    </td>
                </tr>
            }

        </table>
    }*@
    }
    else
    {
        <br />
        <h1>You don't have any favorites yet!</h1> 
        <a href="~/Views/Home/Ingredients.cshtml">Add Favorite Recipes</a>
    }
}