@model IEnumerable<RecipePuppy.Models.Recipe>

@{
    ViewBag.Title = "RecipeList";
}

<h2>RecipeList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbNail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbNail)
        </td>
            <td>
                <form action="~/Home/RecipeFavorite" method="post">
                    <input type="hidden" name="Title" value="@item.Title" />
                    <input type="hidden" name="Image" value="@item.Image" />
                    <input type="hidden" name="Ingredients" value="@item.Ingredients" />
                    <input type="hidden" name="ThumbNail" value="@item.ThumbNail" />
                    <button type="submit">Favorite</button>
                </form>
            </td>
    </tr>
}

</table>
