@model IEnumerable<RecipePuppy.Models.Recipe>
@using RecipePuppy.Models
@{ 
    List<Recipe> recipes = Model.ToList();

    int num = (int)Session["Number"];

    if(num > recipes.Count)
    {
        num = recipes.Count;
    }
}

<h2>Recipes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>

        <th></th>
    </tr>

    @for(int i = 0; i < num; i++)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => recipes[i].Title)
            </td>
            <td>
                <img src="@recipes[i].ThumbNail" class="recipeImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipes[i].Ingredients)
            </td>
            <td>
                <form action="~/Home/RecipeFavorite">
                    <input name="title" value="@recipes[i].Title" class="hiddenElement" />
                    <input name="image" value="@recipes[i].ThumbNail" class="hiddenElement" />
                    <input name="ingredients" value="@recipes[i].Ingredients" class="hiddenElement" />
                    <input name="thumbNail" value="@recipes[i].Ingredients" class="hiddenElement" />
                    <input type="submit" class="favoriteButton" value="Favorite &#10084" />
                </form>

            </td>

        </tr>
    }
@*@foreach (var item in Model) {
}*@

</table>
